<!DOCTYPE html>
<html>
<head>
    <title>List of Authors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>List of Authors</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Number of Books</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.username }}</td>
                    <td>{{ author.email }}</td>
                    <td>{{ author.nbrbooks }}</td>
                    <td>
                        <a href="{{ path('app_delete', { 'id': author.id }) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No authors found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
