
<!DOCTYPE html>
<html>
<head>
    <title>Singers List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>List of Songs</h1>
    <table>
        <thead>
            <tr>
                
                <th> Song's id </th>
                <th>Song Number</th>
                <th>Title</th>
                <th>Recorded</th>
                <th>Minutes</th>
                <th>Pub Date</th>
                <th>Singer</th>
               
            </tr>
        </thead>
        <tbody>
    {% for song in songs %}
        <tr>
            <td>{{ song.id }}</td>
            <td>{{ song.songnumber }}</td>
            <td>{{ song.title }}</td>
            <td>{{ song.recorded }}</td>
            <td>{{ song.minutes }}</td>
            <td>{{ song.pubdate|date('Y-m-d H:i') }}</td> {# Format pubdate using the date filter #}
            <td>{{ song.name ? song.name.getName() : 'Unknown' }}
            
        </tr>


        <td>
                      
              <button><a href="{{path('app_songupdate',{'id':song.id})}}"> Update</a></button>

     </td
    {% endfor %}
</tbody>
    </table>
</body>
</html>
